.title {
    position: relative;
}

.title h1 {
    font-size: 80px;
    font-weight: 600;
}

.title img {
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: -1;
    width: 200px;
    height: 80px;
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 50px;
        min-width: 270px;
    }

    .title img {
        display: none;
    }
}

